
.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #EDF1FF;
    /* make it sticky navbar */
    position: fixed;
  
    width: 80;

}
.iubarrow{
    height: 50px;
    width: 70px;
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    /* make it sticky navbar */
  
  }


   
  
  
  
.navbar li {
    float: left;
    /* Add a gray right border to all list items, except the last item (last-child) */
    border-right: 1px solid #bbb;
  }

  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #04AA6D;
  }

/* using google fonts */
.navbar{
    font-family: "Audiowide", sans-serif;

}

.iubimage{
    height: 300px;
    width: 400px;
    border-radius: 15px;
    margin: 50px;
}

.iubinfo{
    display: flex;
    padding: 100px;
    

}
.sofia{
    color: red;
    /* text shaddow */
    text-shadow: 2px 2px #ff0000; 
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}
.iubarrowbackground{
    height: 400px;
    width: 600px;
    border-radius: 8px;
    margin: 50px;
}

.footer{
    text-align: center;
    color: red;
     /* text shaddow */
     text-shadow: 2px 2px #ff0000; 
    font-size: large;
    font-family: "Sofia";
}

.academicprograms li a{
    text-decoration: navy;
    
}

.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.image2{
    height: 50px;
    width: 30px;
    border-radius: 9px;
}

.tirang{
    font-family: "Trirong";
}

.container3{
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
}

.footer{
    text-align: center;
}

.logo{
    height:30px;
    width: 50px;
    border: 1px solid black;
    border-radius: 5px;

}